@import url("https://fonts.googleapis.com/css2");

@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
}

:root {
  --color-primary: #642ec2;
  --color-primary-variant: #150e2c;
  --color-secondary: #00e0f6;
  --color-secondary-variant: #00b9cc;

  --color-surface-dim: #ffffff;
  --color-surface: #ffffff;
  --color-surface-bright: #ffffff;

  --color-text-light: #999999;
  --color-text: #4e4e4e;
  --color-text-dark: #000000;

  --color-text-white: #ffffff;

  --color-success: #178ff6;
  --color-error: #ef4a52;
  --color-warning: #da9500;
}

// flex
@mixin flex(
  $direction: row,
  $wrap: nowrap,
  $justifyContent: flex-start,
  $alignItems: center
) {
  display: flex;
  flex-direction: $direction;
  flex-wrap: $wrap;
  justify-content: $justifyContent;
  align-items: $alignItems;
}
.array {
  &-rowcenter {
    @include flex(row, wrap, center, center);
  }
  &-columncenter {
    @include flex(column, wrap, center, center);
  }
  &-rowbetween {
    @include flex(row, wrap, space-between, center);
  }
  &-columnbetween {
    @include flex(column, wrap, space-between, center);
  }
  &-leftcenter {
    @include flex(row, wrap, flex-start, center);
  }
  &-rightcenter {
    @include flex(row, wrap, flex-end, center);
  }
  &-topcenter {
    @include flex(column, wrap, flex-start, center);
  }
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
main,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
a {
  text-decoration-line: none;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  letter-spacing: 0;
  line-height: 1.5;
  font-size: 15px;
  color: #444;
  font-weight: 400;
  font-family: "GmarketSans", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
  // font-family: "Pretendard Variable", Pretendard, -apple-system,
  //   BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
  //   "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
  //   "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

button {
  font-family: "GmarketSans", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

// font
h1 {
  font-size: 56px;
  font-weight: bold;
}

h2 {
  font-size: 24px;
}

main {
  width: 100vw;
}

.layout {
  width: 92%;
  max-width: 1800px;
  margin: auto;
}

// button
$btnSpeed: 0.5s;
.primaryBtn {
  position: relative;
  display: inline-block;
  width: 192px;
  height: 48px;
  padding: 0;
  border: 0;
  background: transparent;
  opacity: 1;
  &:hover {
    &:after {
      opacity: 1;
      transform: translateY(0) rotateX(0);
    }
    &:before {
      opacity: 0;
      transform: translateY(50%) rotateX(90deg);
    }
  }
  &:after,
  &:before {
    @extend .array-rowcenter;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: solid 1px var(--color-primary);
    font-size: 16px;
    font-weight: bold;
    color: var(--color-text-white);
    transition: $btnSpeed;
  }
  &:after {
    content: attr(data-back);
    position: absolute;
    background: var(--color-primary);
    transform: translateY(-50%) rotateX(90deg);
    opacity: 0;
  }
  &:before {
    content: attr(data-front);
    position: relative;
    background: var(--color-primary-variant);
    transform: translateY(0) rotateX(0);
    opacity: 1;
  }
}
