@import url("https://fonts.googleapis.com/css2");

@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "GmarketSans";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff")
    format("woff");
  font-weight: bold;
}

body,
button,
input {
  font-family: "GmarketSans", -apple-system, BlinkMacSystemFont, system-ui,
    Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR",
    "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
    sans-serif;
}

// :root {
//   --mainEng-font: postea-variable;
//   --subEng-font: "organetto-variable";
//   --mainKor-font: "Pretendard";
// }

// .mainEng-font {
//   font-family: var(--mainEng-font);
//   font-variation-settings: "wght" 800;
// }

// .subEng-font {
//   font-family: var(--subEng-font);
//   font-variation-settings: "wght" 800;
// }

h1 {
  font-size: 64px;
  font-weight: bold;
}

h2 {
  font-size: 40px;
  font-weight: bold;
}

h3 {
  font-size: 32px;
  line-height: 48px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

h5 {
  font-size: 20px;
  line-height: 30px;
}

h6 {
  font-size: 16px;
  line-height: 24px;
}

p {
  font-size: 14px;
  line-height: 22px;
}
