//color
$color-primary: #5924b5;
$color-primary-v: #150e2c;
$color-secondary: #00e0f6;
$color-secondary-v: #00b9cc;

$color-surface-d: #ffffff;
$color-surface: #ffffff;
$color-surface-b: #ffffff;

$color-text-l: #727272;
$color-text: #4e4e4e;
$color-text-d: #000000;

$color-text-wd: #cccccc;
$color-text-w: #ffffff;

$color-success: #178ff6;
$color-error: #ef4a52;
$color-warning: #da9500;
