@import "./setting/reset";
@import "./setting/vars";
@import "./setting/mixin";
@import "./setting/fonts";
@import "./setting/icons";

:root {
  --header-height: 100px;
}

main {
  position: relative;
  background-color: $bg-white;
}

body {
  overflow-x: hidden;
  background-color: $bg-white;
}

.layout {
  width: 92%;
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
}

.title-main {
  @include flex($direction: column);
  row-gap: 24px;
  .main {
    @include flex($justify: center);
    column-gap: 4px;
    span {
      @include flex($justify: center);
      height: 64px;
      padding: 0 8px;
      font-weight: 800;
      background-color: white;
      @extend h3;
    }
  }
  .sub {
    @extend .font-big;
    font-weight: 600;
  }
}

.movie-card {
  @include flex($direction: column);
  row-gap: 20px;
  position: relative;
  width: 284px;
  padding: 16px 12px;
  .area-img {
    @include flex($justify: center);
    width: 100%;
    height: 376px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  .area-text {
    @include flex($direction: column, $align: flex-start);
    row-gap: 12px;
    position: relative;
    left: 0;
    width: 100%;
    .rank {
      @include flex($justify: center);
      position: absolute;
      left: 0;
      top: -15px;
      width: 60px;
      height: 72px;
      transform: translate(0%, -100%);
    }
    .name {
      width: 100%;
      @extend .font-accent;
      @include ellipsis();
      font-weight: 600;
      color: $text-white;
      padding: 0 4px;
    }
    .description {
      @include flex($justify: space-between);
      width: 100%;
      height: 16px;
      @extend .font-body;
      color: $text-light;
      padding: 0 4px;
      .star {
        @include flex($justify: center);
        column-gap: 4px;
        svg {
          width: 16px;
          height: 16px;
          fill: $text-light;
        }
      }
    }
  }
  &:hover {
    .hover {
      opacity: 1;
    }
  }
  .hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.8);
    opacity: 0;
    transition: 0.2s;
    .veiw-detail,
    .reserve {
      @include flex($justify: center);
      width: 100%;
      height: 50%;
      color: $text-white;
      &:hover {
        background-color: $primary90;
      }
    }
  }
}
