@import "../styles/utils";

// 기본 section
.eventSection,
.curationSection,
.curationSection {
  position: relative;
  width: 100%;
  height: 776px;
}

// 기본 section title
.title {
  margin-bottom: 16px;
  font-weight: bold;
  color: $color-text;
  span {
    margin-left: 8px;
    @extend h6;
    font-weight: normal;
    color: $color-text-light;
  }
}

// mainSection
.mainSection {
  background: linear-gradient(
    rgba($color-primary-variant, 1) 0%,
    rgba($color-primary-variant, 1) 30%,
    rgba($color-primary, 1) 100%
  );
}

// bannerSection
.HeroBanner {
  width: 100%;
  height: 744px;
  .layout,
  .bannerBg {
    height: 100%;
    padding-top: 128px;
  }
  .layout {
    position: relative;
  }
  .bannerBg {
    position: absolute;
    top: 0;
    right: 0;
    overflow: hidden;
    img {
      height: 100%;
      -webkit-mask-image: linear-gradient(
        90deg,
        rgba($color-primary-variant, 0) 0%,
        rgba($color-primary-variant, 1) 50%,
        rgba($color-primary-variant, 1) 100%
      );
    }
  }
  .bannerCont {
    @include flex(
      $direction: column,
      $justifyContent: center,
      $alignItems: flex-start
    );
    position: relative;
    width: 40%;
    height: 100%;
    z-index: 1;
  }
  .titleLogo {
    height: 256px;
    margin-bottom: 32px;
  }
  .titleKor {
    color: $color-text-white;
  }
  .titleEng {
    margin-top: 12px;
    color: $color-text-light;
  }
  .ticketing {
    margin-top: 32px;
    box-shadow: 4px 8px 16px rgba($color-primary-variant, 0.5);
  }
}

// movieSection
.movieSection {
  width: 100%;
  border-radius: 40px 40px 0 0;
  background-color: $color-surface;
  .layout {
    @include flex(
      $direction: column,
      $justifyContent: center,
      $alignItems: flex-start
    );
    height: 100%;
    padding: 48px 0;
  }
  .movieSlide {
    position: relative;
    width: 100%;
    height: 440px;
    overflow: hidden;
  }
  .movieList {
    display: flex;
    column-gap: 16px;
    position: absolute;
    height: 400px;
  }
  .movie,
  .movieCont,
  .movieRank {
    background-color: $color-primary-variant;
  }
  .movie {
    @include flex($direction: column, $justifyContent: space-between);
    position: relative;
    width: 256px;
    height: 100%;
    &:nth-of-type(1) {
      // 1위
      box-shadow: 4px 8px 16px rgba($color-primary-variant, 0.5);
      margin-right: 16px;
      transform: scale(1.04);
      transform-origin: top left;
      &,
      .movieCont,
      .movieRank {
        background-color: $color-primary;
      }
    }
    &:hover {
      filter: brightness(0.3);
    }
  }
  .posterImg {
    padding: 4px;
    width: 100%;
  }
  .movieCont {
    @include flex($justifyContent: space-between);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 40px;
    padding: 4px 16px 0 56px;
  }
  .movieRank {
    @include flex($justifyContent: center);
    position: absolute;
    left: 0;
    bottom: 0;
    width: 48px;
    height: 56px;
    padding-top: 4px;
    color: $color-text-white;
    h3 {
      font-weight: bold;
    }
  }
  .moviePer {
    color: $color-text-white;
    span {
      @extend p;
      opacity: 0.7;
    }
  }
  .movieStar {
    @include flex($justifyContent: center);
    color: $color-text-white;
    opacity: 0.7;
    img {
      height: 24px;
    }
  }
}

.eventSection {
  .layout {
    @include flex(
      $direction: column,
      $justifyContent: center,
      $alignItems: flex-start
    );
    height: 100%;
  }
  .eventCont {
    @include flex($justifyContent: space-between, $alignItems: flex-start);
    column-gap: 104px;
    width: 100%;
    height: 512px;
  }
  .eventInfo {
    @include flex(
      $direction: column,
      $justifyContent: flex-start,
      $alignItems: flex-start
    );
    row-gap: 32px;
    width: 32%;
    height: 100%;
  }
  .eventTitle {
    color: $color-primary;
    h3 {
      margin-bottom: 16px;
    }
  }
  .eventsSub {
    color: $color-text-light;
    h5 {
      line-height: 28px;
    }
    .eventDate {
      margin-top: 8px;
    }
  }
  .eventList {
    @include flex($justifyContent: center);
    column-gap: 16px;
    width: 64%;
    height: 512px;
  }
  .eventScreen {
    width: 720px;
    height: 100%;
    background-color: $color-primary-variant;
    &:hover {
      filter: brightness(0.3);
    }
  }
  .eventNav {
    @include flex($direction: column, $justifyContent: flex-start);
    row-gap: 16px;
    width: 400px;
    height: 100%;
    overflow: hidden;
  }
  .event {
    width: 100%;
    height: 120px;
    background-color: $color-surface;
    box-shadow: 4px 8px 16px rgba($color-primary-variant, 0.5);
    &:hover {
      filter: brightness(0.3);
    }
  }
  .eventBg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 360px;
    background-color: $color-primary;
    z-index: -1;
  }
}

.curationSection {
  background-color: $color-primary-variant;
  .layout {
    @include flex(
      $direction: column,
      $justifyContent: center,
      $alignItems: flex-start
    );
    height: 100%;
  }
  .curationCont {
    @include flex($justifyContent: flex-start, $alignItems: flex-start);
    column-gap: 104px;
    width: 100%;
    height: 512px;
  }
  .curationInfo {
    @include flex($direction: column, $alignItems: flex-start);
    height: 100%;
  }
  .curationTitle {
    line-height: 44px;
    color: $color-text-light;
  }
  .curationtSlide {
    position: relative;
    height: 512px;
  }
  .curationtList {
    @include flex();
    column-gap: 16px;
    position: absolute;
    height: 100%;
  }
  .curationCard {
    width: 400px;
    height: 100%;
    background-color: $color-surface;
    box-shadow: 4px 8px 16px rgba($color-primary, 0.5);
    &:hover {
      filter: brightness(0.3);
    }
  }
}

.guideSection {
  @include flex($alignItems: flex-start);
  width: 100%;
  height: 528px;
  padding: 32px 0;
  .guideList {
    @include flex($alignItems: flex-start);
    column-gap: 16px;
    width: 100%;
  }
  .guideCard {
    width: 296px;
    height: 296px;
    background-color: $color-primary;
    &:hover {
      filter: brightness(0.3);
    }
  }
}

footer {
  height: 200px;
  background: #999999;
}
