@import "../styles/utils";

// 기본 section
// .curationSection,
// .curationSection {
//   position: relative;
//   width: 100%;
//   height: 776px;
// }
.mainCont {
  position: relative;
  top: 100px;
  background-color: $color-surface-dim;
}

// 기본 section title
.title {
  font-weight: bold;
  color: $color-text-white;
  span {
    margin-left: 8px;
    @extend h6;
    font-weight: normal;
    color: $color-text-light;
  }
}

.viewAll {
  color: $color-text-white-dark;
  margin: 64px 0;
  text-decoration: underline;
}

// mainSection
.mainSection {
  background-color: $color-primary-variant;
}

// bannerSection
.heroBanner {
  @include flex($justifyContent: center);
  position: relative;
  width: 100%;
  height: 920px;
  max-height: calc(100vh - 100px);
  .layout,
  .bannerBg {
    height: 100%;
  }
  .bannerBg {
    @include flex($justifyContent: center);
    img {
      height: 100%;
    }
  }
  .banner-prev,
  .banner-next {
    position: absolute;
    width: 108px;
    height: 108px;
    transform: translate(0, -64px);
    opacity: 0.6;
  }
  .banner-prev {
    left: 24px;
    background: url(../../public/images/icon_arrow_left.svg) center/contain
      no-repeat;
  }
  .banner-next {
    right: 24px;
    background: url(../../public/images/icon_arrow_right.svg) center/contain
      no-repeat;
  }
  .bannerCont {
    @include flex();
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 128px;
    z-index: 1;
    background-color: rgba($color-primary-variant, 0.8);
    .layout {
      position: relative;
    }
  }
  .bannerList {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr;
    height: 100%;
  }
  .banner {
    position: relative;
    padding: 24px;
    @include flex();
    column-gap: 16px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    &:hover {
      background-color: rgba($color-primary, 0.4);
    }
    &:first-of-type {
      flex-grow: 2;
      &::before {
        content: "";
        width: 96px;
        height: 96px;
        background: url(../../public/images/icon_play.svg) center/contain
          no-repeat;
      }
      h5 {
        @extend h2;
      }
      &:hover {
        background-color: unset;
      }
    }
  }
  .banner + .banner::before {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 100%;
    background-color: rgba($color-text-white, 0.1);
  }
  .title {
    width: 100%;
  }
  .titleName,
  .titleDescription {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .titleName {
    color: $color-text-white;
  }
  .titleDescription {
    margin-top: 12px;
    color: $color-text-light;
  }
}

.quickMenu {
  position: absolute;
  right: 240px;
  width: 96px;
  background-color: rgba($color-primary, 0.8);
  transform: translate(0, -64px);
  li {
    @include flex($direction: column, $justifyContent: center);
    row-gap: 12px;
    position: relative;
    width: 100%;
    height: 92px;
    img {
      height: 36px;
    }
    p {
      color: rgba($color-text-white, 0.8);
    }
    & + li::before {
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba($color-text-white, 0.1);
    }
  }
}

// movieSection
.movieSection {
  width: 100%;
  background-color: $color-primary-variant;
  .layout {
    @include flex($direction: column, $justifyContent: center);
    height: 100%;
    padding: 80px 24px;
  }
  .movieList {
    @include flex($justifyContent: center, $wrap: wrap);
    row-gap: 60px;
    column-gap: 40px;
    width: 100%;
  }
  .movie,
  .movieCont,
  .movieRank {
    background-color: $color-primary-variant;
  }
  .movie {
    @include flex($direction: column, $justifyContent: space-between);
    position: relative;
    width: 256px;
    padding: 8px;
    &:nth-of-type(1) {
      // 1위
      box-shadow: 4px 8px 16px rgba($color-primary-variant, 0.6);
      transform-origin: top left;
      &,
      .movieCont,
      .movieRank {
        color: $color-text-white;
        background-color: $color-primary;
      }
      .movieName,
      .movueDescription {
        color: $color-text-white;
      }
    }
    &:hover {
      .movieInfo {
        opacity: 1;
      }
    }
  }
  .posterImg {
    width: 100%;
    height: 348px;
  }
  .movie {
    position: relative;
  }
  .movieCont {
    @include flex($direction: column, $alignItems: flex-start);
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 4px 8px;
  }
  .movieRank {
    @include flex($justifyContent: center);
    position: absolute;
    left: 0;
    top: 0;
    width: 40px;
    height: 48px;
    padding-top: 4px;
    color: $color-text-white;
    transform: translate(-1%, -99%);
    h4 {
      font-weight: bold;
    }
  }
  .movieName {
    width: 100%;
    font-weight: bold;
    color: $color-text-white-dark;
    line-height: 40px;
    h5 {
      width: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .movueDescription {
    @include flex($justifyContent: space-between);
    color: $color-text-light;
    width: 100%;
  }
  .movieGenre {
    padding-right: 8px;
    margin-right: 8px;
    border-right: solid 1px rgba($color-text-white, 0.4);
  }
  .movieStar {
    @include flex($justifyContent: center);
    color: $color-text-white;
    opacity: 0.7;
    img {
      height: 16px;
    }
  }
  .movieInfo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(#000000, 0.8);
    opacity: 0;
    transition: 0.2s;
    .veiwDetail,
    .reserveTicket {
      @include flex($justifyContent: center);
      width: 100%;
      height: 50%;
      color: $color-text-white-dark;
      &:hover {
        background-color: rgba($color-primary, 0.8);
      }
    }
  }
}

.eventSection {
  background-color: $color-primary;
  .layout {
    @include flex($direction: column);
    row-gap: 36px;
    height: 100%;
    padding: 144px 24px 80px;
  }
  .title {
    @include flex($direction: column);
    h4 {
      color: $color-text-white;
    }
    // h6 {
    //   margin-top: 12px;
    //   font-weight: normal;
    //   color: $color-text-white-dark;
    // }
  }
  .eventCont {
    @include flex($direction: column);
    column-gap: 104px;
    width: 100%;
  }
  // .eventInfo {
  //   @include flex(
  //     $direction: column,
  //     $justifyContent: flex-start,
  //     $alignItems: flex-start
  //   );
  //   row-gap: 32px;
  //   width: 32%;
  //   height: 100%;
  // }
  // .eventTitle {
  //   color: $color-primary;
  //   h3 {
  //     margin-bottom: 16px;
  //   }
  // }
  // .eventsSub {
  //   color: $color-text-light;
  //   h5 {
  //     line-height: 28px;
  //   }
  //   .eventDate {
  //     margin-top: 8px;
  //   }
  // }
  .eventList {
    @include flex($direction: column);
    row-gap: 24px;
    width: 100%;
    height: 100%;
    .event {
      overflow: hidden;
    }
    img {
      height: 100%;
    }
  }
  .eventScreen {
    @include flex();
    column-gap: 24px;
    width: 100%;
    height: 60%;
    .event {
      height: 100%;
    }
  }
  .eventNav {
    @include flex();
    column-gap: 24px;
    width: 100%;
    height: 40%;
    overflow: hidden;
    .event {
      width: 50%;
      height: 100%;
    }
  }
  .event {
    width: 100%;
    height: 120px;
    background-color: $color-surface;
    // box-shadow: 4px 8px 16px rgba($color-primary-variant, 0.5);
    &:hover {
      filter: brightness(0.3);
    }
  }
  .eventBg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 360px;
    background-color: $color-primary;
    z-index: -1;
  }
}

// .curationSection {
//   background-color: $color-primary-variant;
//   .layout {
//     @include flex(
//       $direction: column,
//       $justifyContent: center,
//       $alignItems: flex-start
//     );
//     height: 100%;
//   }
//   .curationCont {
//     @include flex($justifyContent: flex-start, $alignItems: flex-start);
//     column-gap: 104px;
//     width: 100%;
//     height: 512px;
//   }
//   .curationInfo {
//     @include flex($direction: column, $alignItems: flex-start);
//     height: 100%;
//   }
//   .curationTitle {
//     line-height: 44px;
//     color: $color-text-light;
//   }
//   .curationtSlide {
//     position: relative;
//     height: 512px;
//   }
//   .curationtList {
//     @include flex();
//     column-gap: 16px;
//     position: absolute;
//     height: 100%;
//   }
//   .curationCard {
//     width: 400px;
//     height: 100%;
//     background-color: $color-surface;
//     box-shadow: 4px 8px 16px rgba($color-primary, 0.5);
//     &:hover {
//       filter: brightness(0.3);
//     }
//   }
// }

.guideSection {
  @include flex($direction: column);
  row-gap: 36px;
  width: 100%;
  padding: 80px 24px;

  .title {
    color: $color-text;
  }
  .guideList {
    @include flex($alignItems: flex-start);
    column-gap: 24px;
  }
  .guideCard {
    width: 360px;
    height: 160px;
    background-color: #cccccc;

    &:hover {
      filter: brightness(0.3);
    }
  }
}

footer {
  height: 200px;
  background: #444444;
}
