//color
$primary-light: #5e46fe;
$primary: #5924b5;
$primary-dark: #46109d;
$primary-variant: #150e2c;
$primary-variant90: rgba($primary-variant, 0.9);

$bg-white: #eaeaf1;
$bg-black: #000000;

$text-light: #888888;
$text: #565656;
$text-dark: #000000;

$text-white: #ffffff;
$text-white-dark: #cccccc;
