@import "../styles/utils";

.mainHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 128px;
  z-index: 10000;
  backdrop-filter: blur(4px);
}

.layout {
  @include flex($justifyContent: space-between);
  height: 100%;
}

.leftCont {
  display: flex;
  column-gap: 72px;
  align-items: center;
}

.rightCont {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.ci {
  width: 140px;
  padding-top: 8px;
}

.ci a {
  display: block;
  width: 140px;
  height: 46px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: url(../../public/logo_default.png) center/contain no-repeat;
}

.utilArea {
  display: flex;
  justify-content: space-between;
  top: 16px;
  ul {
    display: flex;
  }
}

.areaLink {
  display: flex;
  column-gap: 24px;
  color: $color-text-light;
  a {
    font-size: 14px;
    color: $color-text-light;
    &:hover {
      color: $color-text-white;
    }
  }
}

.gnbList {
  display: flex;
  column-gap: 72px;
  position: relative;
  margin: auto;
}

.gnbTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  link,
  svg {
    fill: $color-text;
  }
  a {
    font-size: 18px;
    color: $color-text;
  }
  a::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 12px;
    margin: 0 auto;
    width: 0;
    height: 1px;
    background-color: $color-text;
    transition: all 0.3s;
  }
  &:hover {
    a::after {
      width: 100%;
    }
    .gnbBody {
      display: flex;
    }
  }
}

.gnbAll {
  display: flex;
  svg,
  div {
    width: 52px;
    height: 52px;
    fill: $color-text;
  }
}

.gnbSearch {
  background: url(../../public//icon_search.svg) center/contain no-repeat;
  background-size: 60%;
  width: 52px;
  height: 52px;
}

.gnbCalendar {
  background: url(../../public/icon_calendar.svg) center/contain no-repeat;
  background-size: 60%;
}

.gnbPerson {
  background: url(../../public/icon_person.svg) center/contain no-repeat;
  background-size: 60%;
}

.gnbBody {
  display: none;
  column-gap: 24px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 8px;
  width: 200%;
  transform: translateY(100%);
  li {
    color: $color-text;
    font-size: 14px;
    white-space: pre;
    color: $color-text-light;
    &:hover {
      display: flex;
    }
  }
  &:hover {
    display: flex;
  }
}

// colorMode
.mainHeader.dark {
  background-color: $color-primary-opacity-90;
  .ci a {
    background: url(../../public/logo_white.png) center/contain no-repeat;
  }
  .gnbTitle {
    link,
    svg,
    a {
      color: $color-text-white;
    }
    a::after {
      background-color: $color-text-white;
    }
  }
  .gnbAll {
    svg,
    div {
      fill: $color-text-white;
    }
  }
}
