@import "../styles/utils";

.mainHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 128px;
  // padding-top: 24px;
  z-index: 10000;
}

.headerCont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 94%;
  max-width: 1800px;
  height: 100%;
}

.leftCont {
  display: flex;
  column-gap: 56px;
  align-items: center;
}
.rightCont {
  display: flex;
  column-gap: 24px;
  align-items: center;
}

.ci {
  width: 140px;
  padding-top: 8px;
}

.ci a {
  display: block;
  width: 140px;
  height: 46px;
  margin: 0;
  padding: 0;
  font-size: 0;
  line-height: 0;
  background: url(../../public/logo_white.png) center/contain no-repeat;
}

.utilArea {
  display: flex;
  justify-content: space-between;
  top: 16px;
  ul {
    display: flex;
  }
}

.areaLink {
  display: flex;
  column-gap: 24px;
  a {
    font-size: 14px;
    color: #888;
  }
}

.gnbList {
  display: flex;
  column-gap: 40px;
  position: relative;
  margin: auto;
}

.gnbTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 52px;
  link,
  svg {
    fill: #fff;
  }
  a {
    font-size: 18px;
    color: #fff;
  }
  a::after {
    content: "";
    box-sizing: border-box;
    position: absolute;
    left: 0;
    bottom: 12px;
    margin: 0 auto;
    width: 0;
    height: 1px;
    background-color: #fff;
    transition: all 0.3s;
  }
  &:hover {
    a::after {
      width: 100%;
    }
    .gnbBody {
      display: flex;
    }
  }
}

.leftGnb,
.rightGnb {
  display: flex;
  svg,
  div {
    width: 52px;
    height: 52px;
    fill: #fff;
  }
}

.gnbSearch {
  background: url(../../public//icon_search.svg) center/contain no-repeat;
  background-size: 60%;
  width: 52px;
  height: 52px;
}

.gnbCalendar {
  background: url(../../public/icon_calendar.svg) center/contain no-repeat;
  background-size: 60%;
}

.gnbPerson {
  background: url(../../public/icon_person.svg) center/contain no-repeat;
  background-size: 60%;
}

.gnbBody {
  display: none;
  flex-direction: column;
  row-gap: 8px;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-top: 8px;
  width: 200%;
  transform: translateY(100%);
  li {
    color: #fff;
    font-size: 14px;
    white-space: pre;
    &:hover {
      display: flex;
    }
  }
  &:hover {
    display: flex;
  }
}
